<div id="about" class="page">

    <div id="landingTitle"></div>

    <h2 class="title h2">What is it?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, corporis sequi aspernatur quos consequuntur possimus error neque officia fuga aliquid accusamus iure autem ipsam amet maiores voluptatem incidunt hic quas?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, corporis sequi aspernatur quos consequuntur possimus error neque officia fuga aliquid accusamus iure autem ipsam amet maiores voluptatem incidunt hic quas?</p>

    <h2 class="title h2">Who do it?</h2>
    <span class="ownerLogo sp fr"></span>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, corporis sequi aspernatur quos consequuntur possimus error neque officia fuga aliquid accusamus iure autem ipsam amet maiores voluptatem incidunt hic quas? possimus error neque officia fuga aliquid accusamus iure autem ipsam amet maiores voluptatem incidunt hic quas?</p>


</div>