<div id="about" class="page">

    <div id="landingTitle"></div>

    <h2 class="title h2">What is it?</h2>
    <p>Meeting time & cost is an app that try to help you in checking how much money you or your company is wasting on a meeting.</p>


    <h2 class="title h2">Who do it?</h2>
    <span class="ownerLogo sp fr"></span>
    <p>It is a personal project of <a href="http://www.vissit.com/somos">Jaime Fernández</a> (<a href="http://www.vissit.com/">vissit.com</a>) with the proposal of learning new technologies like AngularJS or PhoneGap.</p>
    <p>You can read more info about this project on <a href="http://www.vissit.com/the-process-of-create-my-first-mobile-app">my personal blog</a>. </p>


</div>