<div id="landing" class="page">

    <div id="landingTitle"></div>

    <p> <strong>Do you know how much your next meeting will cost to your company?</strong>
        Is this meeting worth it? This app’ll help you to track time and cost of any meeting.
    </p>

    <p class="marginBottom">
        It’s easy to configure, good looking, and with its info your company maybe reduce the amount of unproductive meetings ;-)
    </p>

    <a ng-href="#create" class="bt db bg_orange">create a meeting</a>
    <a ng-href="#list" class="bt db bg_green">reuse previous meeting</a>

</div>
