/*= Phonegap styles: I'm not sure about it  */
    * {
        -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    }

    body {
        -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
        -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
        -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    }

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

}


/*= FONTS */
    @font-face {
        font-family: 'robotothin';
        src: url('../fonts/roboto_thin_macroman/Roboto-Thin-webfont.eot');
        src: url('../fonts/roboto_thin_macroman/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/roboto_thin_macroman/Roboto-Thin-webfont.woff') format('woff'),
             url('../fonts/roboto_thin_macroman/Roboto-Thin-webfont.ttf') format('truetype'),
             url('../fonts/roboto_thin_macroman/Roboto-Thin-webfont.svg#robotothin') format('svg');
        font-weight: normal;
        font-style: normal;

    }

        @media screen and (-webkit-min-device-pixel-ratio:0) {
            @font-face {
                font-family: 'robotothin';
                src: url('../fonts/roboto_thin_macroman/Roboto-Thin-webfont.svg') format('svg');

            }
        }

   /* @font-face {
        font-family: 'robotoblack';
        src: url('../fonts/roboto_black_macroman/Roboto-Black-webfont.eot');
        src: url('../fonts/roboto_black_macroman/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/roboto_black_macroman/Roboto-Black-webfont.woff') format('woff'),
             url('../fonts/roboto_black_macroman/Roboto-Black-webfont.ttf') format('truetype'),
             url('../fonts/roboto_black_macroman/Roboto-Black-webfont.svg#robotoblack') format('svg');
        font-weight: normal;
        font-style: normal;

    }

        @media screen and (-webkit-min-device-pixel-ratio:0) {
            @font-face {
                font-family: 'robotoblack';
                src: url('../fonts/roboto_black_macroman/Roboto-Black-webfont.svg') format('svg');

            }
        }*/

    @font-face {
        font-family: 'opensans';
        src: url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
        src: url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'),
             url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'),
             url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#opensans') format('svg');
        font-weight: normal;
        font-style: normal;

    }

        @media screen and (-webkit-min-device-pixel-ratio:0) {
            @font-face {
                font-family: 'opensans';
                src: url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg') format('svg');
                font-weight: normal;
            }
        }

    @font-face {
        font-family: 'opensans';
        src: url('../fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.eot');
        src: url('../fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.woff') format('woff'),
             url('../fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.ttf') format('truetype'),
             url('../fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.svg#opensans') format('svg');
        font-weight: bold;
        font-style: normal;
    }

        @media screen and (-webkit-min-device-pixel-ratio:0) {
            @font-face {
                font-family: 'opensans';
                src: url('../fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.svg') format('svg');
                font-weight: bold;
            }
        }

/* end of fonts */

/*= TEXT */

    @media (max-width: 767px) {
        html { font-size: 58%; }
    }

    @media (max-width: 379px) {
        html { font-size: 50%; }
    }

    body {
        font-family: 'opensans', sans-serif;
    }

        strong, .strong {
            font-family: 'opensanssemibold', sans-serif;
        }

        /*.bt {
            font-family: 'robotoblack', sans-serif;
        }*/

    h1,h2,h3,h4,h5,h6, .customFont {
        font-family: 'robotothin', sans-serif;
        font-weight: 100;
    }
        .h1 { font-size: 5.4625rem; }

        .title { color: #09C; }
            .title.h2 { font-size: 3.8rem; margin-bottom: 5px; }

    body, p, span, strong {
        line-height: 1.3em;
        font-size: 18px; font-size: 1.8rem;
    }

    .highlight { color:#33B2E5; }
    .warningLight { color:#f44; }

/* end of text */

/*= COLORS */

    .txt_blue { color: #0099CC; }
        .txt_blue_light { color: #33B5E5; }
        .txt_blue_dark { color: #004257; }

    .bg_gray { background-color: #E9E7E7; }
        .bg_blue { background-color: #0099CC; }
        .bg_orange { background-color: #FF8800;  }
        .bg_green { background-color: #690; }
        .bg_red { background-color: #C00; }




/* end of colors */

html, body {
    height: 100%;
}

/*= FIX SIDE BAR */
    #fixedBar, #fixedBar.opened, #fixedBar .content {
        width: 200px;
    }
    #fixedBar {
        margin-left: 0;
        background-color: #09C;
        height: 100%;

        z-index: 8;
        position: fixed;
        top:0;
        left: 0;

        transition-property:margin;
        -moz-transition-property: margin; /* Firefox 4 */
        -webkit-transition-property:margin; /* Safari and Chrome */
        -o-transition-property:margin; /* Opera */

        transition-duration: .4s;
        -webkit-transition-duration: .4s;
    }

        #fixedBar.opened {
            margin-left: 0;
            transition-duration: .2s;
            -webkit-transition-duration: .2s;
        }
        #mainMenuLogo {
            margin:10px 20px;
        }
            #mainMenuLogo .logo {
                background: url('../img/app-bigLogo.png') no-repeat 0 0;
                background-size: 100%;
                padding-bottom: 29%;
            }
        #fixedBar li {
            margin: 0;

        }
        #fixedBar a {
            text-decoration: none;
            color:#004257;
            font-size: 16px;
            padding: 0.5em 1em;
            display: block;
            border-bottom:solid 1px #09C;
        }
            #fixedBar ul a:hover,
                #fixedBar ul a.active {
                background-color: #004257;
                color: #fff;
            }

            #mainMenu {
                margin: 0;
                padding: 0;
            }

        #toggleFixedBar {
            display: block;
            width: 52px;
            height: 44px;
            text-indent: -5000px;

            position: absolute;
            z-index: 9;
            top:0;
            right: -52px;
        }
            #toggleFixedBar:before {
                left: 7px;
            }
            #toggleFixedBar:after {
                background-position: -255px 5px;
            }
            .opened #toggleFixedBar:after {
                display: none;
            }
            .opened #toggleFixedBar:before {
                left: 0;
            }



    @media (max-width: 768px) {

        #fixedBar {
            margin-left: -200px;
        }

    }
/* end of fixed side bar */

/* HEADER */
    #fixAppHeader {
        background: #000;
        margin:0;
        position: fixed;
        z-index: 3;
        top: 0;
        height: 44px;
        overflow: hidden;
    }
        #fixAppHeader h1 {
            margin: 0;
            font-size: 21px; font-size: 2.1rem;
            line-height: 44px;
            padding-left: 65px;
            font-family: 'opensans', sans-serif;
        }

    @media (min-width: 768px) {
        #fixAppHeader h1 {
            margin-left: 200px;
            padding-left: 20px;
        }
    }
/* end of header */

/*= LAYOUT */
    .row, #pagesWrap {
        max-width: 1000px;
        margin-left: 0;
    }

    body {
        background: #000 url('../img/bg/money-time.jpg') no-repeat right 44px;
        background-attachment:fixed;
        background-size: 100%;
    }
        body.listPage {
            background-image: url('../img/bg/archive.jpg');
        }
        body.createPage {
            background-image: url('../img/bg/config.jpg');
        }
        body.detailPage {
            background-image: url('../img/bg/meeting.jpg');
        }
        body.aboutPage {
            background-image: url('../img/bg/metronome.jpg');
        }

    .app {
        height: 100%;
        color: #fff;
    }
    #pagesWrap {
        padding-top: 44px;
    }
    .page {
        min-height: 100%;
        padding: 20px;
        /*margin-top: 44px;*/
    }
        .page.np {
            padding: 0;
        }



     @media (min-width: 768px) {
        .page {
            margin-left: 200px;
        }
    }


    .marginBottom {
        margin-bottom: 2em;
    }


/* end of layout */

/*= ICONS */

    .sp, .sp-after:after, .sp-before:before {
            background-image: url('../img/sp.png');
            background-repeat: no-repeat;
            background-position: -64px 5px;
            background-size: 270px;
        }
    .sp-after, .sp-before {
        position: relative;
    }
    .sp-after:after, .sp-before:before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
    }

    .ownerLogo {
        width: 100px;
        height: 110px;
        background-position: 0 -97px;
        margin-left: 10px;
    }

/* end of icons */

/*= BUTTONS */

    .bt {
        font-size: 25px; font-size: 2.5rem;
        padding: .6em .5em;
        border-radius: 3px;
        margin-bottom: 0.5em;
        font-weight: bold;
    }

        .bt.bg_gray { color: #4C4C4C; }
            .bt.bg_gray:hover { background-color: #fff; }
        .bt.bg_orange { color: #6C3900; }
            .bt.bg_orange:hover { background-color: #FFBB33; }
        .bt.bg_green { color: #1E2D00; }
            .bt.bg_green:hover { background-color: #99CC00; }
        .bt.bg_red { color: #6C0000; }
            .bt.bg_red:hover { background-color: #F44; }
        .bt.bg_blue { color: #004257; }
            .bt.bg_blue:hover { background-color: #33B5E5; }


    .bt_icon {
        text-align: left;
        padding-left: 55px;
    }
        .bt_icon:before { top: 8px; left:8px; }
        .bt_icon.play:before { background-position: -227px -134px; }
        .bt_icon.pause:before { background-position: -113px -134px; }
        .bt_icon.stop:before { background-position: -169px -134px; }

    .twoButtons .bt {
        width: 42%;
        margin: 0 3% 0 5%;
        float: left;
    }
        .twoButtons .bt:last-child {
            margin: 0 5% 0 3%;
            float: right;
        }

    @media (max-width: 360px) {
        .bt_icon { padding-left: .5em; }
        .bt_icon:before { display: none; text-align: center;}
    }

    .bt.disabled, .bt.disabled:hover {
      cursor: not-allowed;
      opacity: 0.5;
      filter: alpha(opacity=50);
      background-color: #ccc;
      color: #aaa;
    }

/* end of buttons */

/*= PANELS */
    .warningMsg {
        position: relative;
        text-align: center;
        padding: 4rem 2rem;
    }
        .warningMsg p {
            font-family: 'robotothin';
            font-size: 24px;
            line-height: 1.2em;
        }
        .warningMsg:before {
            content: " ";
            display: block;
            background: url('../img/warning.png') no-repeat center center ;
            background-size: 100%;
            width: 100px;
            height: 100px;
            margin: 0 auto 15px;

        }

    #detailPage .page {
        padding: 20px 0;
        position: relative;
    }

    /*.detailPage .page {
        width: 420px;
        margin-right: auto;
        margin-left: auto;
    }

    @media (max-width: 440px) {
        .detailPage .page {
            width: 360px;
        }
        .circlePanel {
            font-size: 10.8px;
        }
    }*/


/*= PAGES */

    /* LANDING */
        #landing {
            padding-right: 10%;
            padding-left: 10%;
        }
        #landingTitle {
            background: url('../img/app-bigLogo.png') no-repeat 0 0;
            background-size: 100%;
            padding-bottom: 38%;
            margin: 10px 0 20px 0;
        }
        /*#landingTitle {
            padding-left: 80px;

        }
            #landingTitle:after {
                width: 70px;
                height: 86px;
                top: 11px;
                background-position: 0 0;
            }
            #landingTitle small {
                line-height: 0.9em;
                font-size: 2.65rem;
                display: block;
            }*/

    /* ABOUT US */
        #about {
            padding-right: 5%;
            padding-left: 5%;
        }
        #about #landingTitle {
            padding-bottom: 28.5%;
        }

    /* LIST */
    .itemsList {
        margin: 0 0 2em;
    }
        .itemsList li {
            background-color: rgba(51,178,229,0.2);
            margin-bottom: 0;
            overflow: hidden;

            position: relative;
        }
            .itemsList li.ng-enter,
                .itemsList li.ng-leave {
                    -webkit-transition:0.5s linear opacity;
                        transition:0.5s linear opacity;
            }
                .itemsList li.ng-leave,
                    .itemsList li.ng-enter-active {
                        opacity: 1;
                }
                .itemsList li.ng-enter,
                    .itemsList li.ng-leave-active {
                        opacity:0;
                }
            .itemListRow {
                display: table;
                /*table-layout:fixed;*/
                width: 100%;
                padding: 1.4rem 2rem 0;
                height:8rem;
            }
            .itemsList li:nth-child(2n+1) {
                background-color: rgba(51,178,229,0.1);
            }
            .itemsList li.favourite:before {
                content: " ";
                position: absolute;
                top: 0;
                left: -3rem;
                z-index: 3;
                width: 7.2rem;
                height: 2.7rem;
                background-color: #33B5E5;

                transform:rotate(-45deg);
                    -ms-transform:rotate(-45deg); /* IE 9 */
                    -webkit-transform:rotate(-45deg); /* Opera, Chrome, and Safari */
            }
                .itemsList li:hover {
                    cursor: pointer;
                    background-color: rgba(51,178,229,0.3);
                }
                .itemsList li.favourite:after {
                    content: " ";
                    position: absolute;
                    top: 0.1rem;
                    left: 0rem;
                    z-index: 4;
                    width: 2rem;
                    height: 2rem;
                    background: url('../img/sp.png') no-repeat -22.25rem -5.85rem;
                    background-size: 25rem;
                }
            .itemsList li .itemListCol {
                display: table-cell;
                width:36%;
            }
                .itemsList li .itemListCol:first-child { width:40%; }
                .itemsList li .itemListCol:last-child { width:24%; }

            .itemListActions {
                position: absolute;
                top:0;

                display: table;
                table-layout:fixed;
                z-index: 5;
                width: 100%;

                background-color: rgba(51,178,229,0.8);

                -webkit-transition-duration: 1s;
                    -ms-transition-duration: 1s;
                        transition-duration: 1s;

                -webkit-transform: translate(100%,0);
                    -ms-transform: translate(100%,0);
                        transform: translate(100%,0);
            }

                .itemsList li.selected .itemListActions {
                    -webkit-transform: translate(0,0);
                        -ms-transform: translate(0,0);
                        transform: translate(0,0);

                    -webkit-transition-duration: 0.5s;
                        -ms-transition-duration: 0.5s;
                            transition-duration: 0.5s;
                }
                .itemListActions a {
                    display: table-cell;
                    color: #fff;
                    padding-top: 45px;
                    padding-bottom: 10px;
                    height:8rem;
                    position: relative;
                    text-align: center;
                    text-decoration: none;
                }
                    .itemListActions a:before {
                        content: " ";
                        position: absolute;
                        top: 7px;
                        left: 50%;
                        width: 40px;
                        height: 40px;
                        margin-left: -20px;
                        background-position: -126px -42px;
                    }

                        .itemListActions a.restart:before {
                            background-position: -183px -42px;
                        }
                        .itemListActions a.continue:before {
                            background-position: -126px -92px;
                        }
                        .itemListActions a.delete:before {
                            background-position: -183px -92px;
                        }

                        .itemListActions a:hover {
                            background-color:rgba(255,255,255,0.2);
                        }
                .itemsList p {
                    font-size: 3.4rem;
                    margin:0;
                    line-height: 1.1em;
                }
                    .itemsList .note, .itemsList .note small {
                        font-size: 1.8rem;
                    }

                    .itemsList p.sp-before {
                        padding-left: 34px;
                    }
                    .itemsList p.sp-before:before {

                        width: 29px;
                        height: 23px;
                        top: 4px;
                        left: 0;
                        background-position: -223px -5px;
                    }
                        .itemsList p.sp-before.persons:before {
                            background-position: -117px -5px;
                            left: auto;
                            right: 0;
                        }
                        .itemsList p.sp-before.time:before {
                            background-position: -193px -4px;
                            width: 21px;
                        }
                        .itemsList p.sp-before.money:before {
                            background-position: -223px -1px;
                            width: 21px;
                        }
                        .itemsList p.sp-before.moneyPerPerson:before {
                            background-position: -239px -41px;
                            left: auto;
                            right: 0;
                            height: 17px;
                            top: 1px;
                        }
                        .itemsList p.sp-before.time  { padding-left: 24px;}
                        .itemsList p.sp-before.money { padding-left: 17px;}
                        .itemsList p.sp-before.persons,
                            .itemsList p.sp-before.moneyPerPerson {
                                padding-left: 0; padding-right: 33px; text-align: right;
                            }

/* end of pages */
#circlesWrap {
    position: absolute;
    width: 100%;
    padding-top: 115%;
}
.circlePanel {
    border: solid 2px #fff;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.25);
    width: 21.8em;
    height: 21.8em;
    font-size: 12.5px;
    font-size: 3.3vw;
    position: absolute;
    top: 0;
    right: 5.8em;
}
    .circlePanel.extratime {
        border-width: 0.2em;
        border-color: #9C0;
        width: 21.8em;
        height: 21.8em;
    }
    .circlePanel p {
        position: absolute;
        top: 1.2em;
        left: 0;
        width: 100%;
        font-size: 2.2em;
        text-align:center;
        margin:0;
    }
        .circlePanel p + p {
            top: 5.1em;
        }
        .circlePanel p strong {
            font-size: 2.5em;
            font-family: 'robotothin', sans-serif;
            font-weight: 100;
            line-height: 0.9em;
        }
            .circlePanel p + p strong {
                margin: 0 0.3em;
                border-top: solid 1px rgba(255,255,255,0.2);
                padding-top: 0.2em;
            }


    .bigCircle p + p strong {
        font-size: 1.5em;
    }
        .bigCircle p + p strong small,
            .mediumCircle small {
            font-size: 1em;
        }


    .circlePanel.mediumCircle {
        font-size: 6.1px;
        font-size: 1.6vw;
        top: 45em;
        right: 12.6em;
        margin-bottom: -14em;
        /*border-width: 0.4em;*/
    }
        .mediumCircle .mainData {
            top: 1.6em;
        }
        .mediumCircle p strong {
            font-size: 2.2em;
            line-height: 1em;
        }

    .circlePanel.smallCircle {
        font-size: 4.2px;
        font-size: 1.1vw;
        top: 50em;
        right: 2.5em;
        /*border-width: 0.6em;*/
    }
        .smallCircle .mainData {
            top: 2.2em;
        }
        .circlePanel.smallCircle p + p {
            top: 4.7em;
        }
            .circlePanel.smallCircle p + p strong {
                padding-top: 0.3em;
            }
    .circlePanel .sp.icon {
        display: inline-block;
        width: 1.728em;
        height: 1.76em;
    }
    .circlePanel .sp.icon, .circlePanel .sp-before:before {
        background-size: 11.6em;
    }

    .circlePanel .indent {
        text-indent: -9000px;
    }
        .circlePanel .icon.time { background-position: -3.2em -2em; }
        .circlePanel .icon.persons {
            height: 2em;
            width: 2.25em;
            background-position: -9.3em -0.3em;
            top: -0.9em;
            position: relative;
            background-size: 21.2em;
        }
        .circlePanel .icon.timeSmall:before {
            background-position: -10.1em -0.4em;
            background-size: 14em;
            width: 1.1em;
            height: 1.1em;
            top: -1.1em;
            left: 50%;
            margin-left: -.4em;
        }
        .circlePanel .icon.moneySmall:before {
            background-position: -13.3em -0.4em;
            background-size: 16em;
            width: 1.1em;
            height: 1.1em;
            top: -1.1em;
            left: 50%;
            margin-left: -.4em;
        }
        .circlePanel .money {
            padding-left: .75em;
        }
        .circlePanel .money:before {
            background-position: -12.6em -0.45em;
            width: .9em;
            height: 1em;
            background-size: 15em;
        }
        .circlePanel .sp.moneyPerPerson {
            background-position: -5.45em -0.2em;
            width: 0.9em;
            height: 0.8em;
            background-size: 9.3em;
        }

    @media (min-width:768px) {
        .circlePanel { font-size: 21px; }
            .circlePanel.smallCircle { font-size: 7px; }
            .circlePanel.mediumCircle { font-size: 10.2px; }

        #circlesWrap {
            padding-top: 700px;
        }
    }

    @media (min-width:960px) {
        .circlePanel { font-size: 25.5px; }
            .circlePanel.smallCircle { font-size: 8.5px; }
            .circlePanel.mediumCircle { font-size: 12.4px; }

        #circlesWrap {
            padding-top: 860px;
        }
    }



    @media (max-width: 379px) {
        #circlesWrap {
            padding-top: 120%;
        }

        .circlePanel {
            font-size: 8px;
            font-size: 2.9vw;
            right: 11em;
        }
            .circlePanel.smallCircle {
                font-size: 3.6px;
                font-size: 1.3vw;
                left: auto;
                top: 35em;
            }

            .circlePanel.mediumCircle {
                font-size: 5px;
                font-size: 1.7vw;
                left: auto;
                top: 37em;
                right: 15em;
            }
    }



/*= CIRCLE TIMER */

.timer {
    /*position:relative;*/

}

    .timer > .slice {
        position:absolute;
        width:22em;
        height:22em;
        clip:rect(0,22em,22em,11em);
        padding: 0;
        margin:-4px;
    }
        .timer.extratime > .slice {
            margin:-0.2em;
        }
    .timer > .slice.gt50 {
        clip:rect(auto, auto, auto, auto);
    }
    .timer > .slice > .pie {
        border: 6px solid #9C0;
        position:absolute;
        width:22em; /* 1 - (2 * border width) */
        height:22em; /* 1 - (2 * border width) */
        clip:rect(0,11em,22em,0em);
        -moz-border-radius:11em;
        -webkit-border-radius:11em;
        border-radius:11em;
        /*margin:-0.2em;*/
    }
        .timer.extratime > .slice > .pie {
            border-color: #F44;
            /*margin:-0.18em;*/
        }

    .timer > .slice > .pie.fill {
        -moz-transform:rotate(180deg) !important;
        -webkit-transform:rotate(180deg) !important;
        -o-transform:rotate(180deg) !important;
        transform:rotate(180deg) !important;

        -webkit-transform: rotate(182.88deg);
    }
    .timer.fill > .percent {
        display: none;
    }
    .timer.fill > .slice > .pie {
        border: transparent;
        background-color: #c0c0c0;
        width:21.8em;
        height:21.8em;
    }


/* end of circle timer */


.errorInfoPanel {
    background-color: #f44;
    color:#6C0000;
    padding: 1em;
    margin-bottom: 1em;
}

/*= CALCULATOR */
.calculator {}

    .calculator label {
        display: block;
        text-align: center;
        margin-bottom: 1em;
    }
    .calculator input {
        display: block;
        background-color: rgba(0,0,0,0.8);
        border-width: 0;
        font-size: 25px;
        font-size: 2.5rem;
        color: #fff;
        font-weight: bold;
        text-align: right;
        height: 50px;
        line-height: 44px;

    }
    .calculator ul {
        margin-bottom: 1em;
    }
    .calculator li {
        float: left;
        width: 33%;
        margin:0;
    }
        .calculator li.key_indent {
            margin-left: 33%;
        }
        .calculator li a {
            display: block;
            margin:3px;
            font-size: 2.9rem;
            padding: .4em .2em;
        }

        .calculator .removeChar {
            text-indent: -9000px;
        }
            .calculator .removeChar:before {
                background-position: -212px -192px;
                left: 50%;
                width: 60px;
                margin-left: -30px;
                top: 0.25em;
            }

.periodSelector {
    display: table;
    width: 100%;
    margin-bottom: 1em;
}
    .periodSelector .bt {
        display: table-cell;
        border-radius: 0;
        font-size: 17px;
        font-size: 1.7rem;
        line-height: 2.3em;
    }
        .periodSelector .bt:first-child { border-radius: 3px 0 0 3px; }
        .periodSelector .bt:last-child { border-radius: 0 3px 3px 0; }
        .periodSelector .bt + .bt {
            border-left: solid 1px #000;
        }


.calculator.moving {
    animation:moveCalculator .5s;
    -webkit-animation:moveCalculator .5s;
}
.calculator.moving.reverse {
    animation-direction: reverse;
    -webkit-animation-direction: reverse
}

@keyframes moveCalculator{
  0% {
    transform: translate(0,0);
    opacity: 1;
  }
  50%{
    transform: translate(-120%,0);
    opacity: 0;
  }
  51%{
    transform: translate(120%,0);
    opacity: 0;
  }
  100%{
    transform: translate(0,0);
    opacity: 1;
  }
}
@-webkit-keyframes moveCalculator {
    0% {
      -webkit-transform: translate(0,0);
      opacity: 1;
    }
    50%{
      -webkit-transform: translate(-120%,0);
      opacity: 0;
    }
    51%{
      -webkit-transform: translate(120%,0);
      opacity: 0;
    }
    100%{
      -webkit-transform: translate(0,0);
      opacity: 1;
    }
}

/* end of calculator */


/*= PRELOADING */
#pageTitle + .cssLoading {
    position: absolute;
    right: 10px;
    top: 8px;
    z-index: 9;
}
.cssLoading{
  width: 30px;
  height: 30px;
  background: #eee;
  border-radius: 50%;
  display: flex;


}
.cssLoading:before{
  content:'';
  width: 0;
  height: 0;
  margin:auto;
  border: 0 solid #000;
  border-radius: 50%;
  animation:cssLoading-ani 1s infinite;
  -webkit-animation:cssLoading-ani 1s infinite;
}

@keyframes cssLoading-ani{
  50%{
    width: 30px;
    height: 30px;
    border-width:9px;
  }
  100%{
    width: 30px;
    height: 30px;
    border-width: 0;
  }
}
@-webkit-keyframes cssLoading-ani {
    50%{
        width: 30px;
        height: 30px;
        border-width:9px;
    }
    100%{
        width: 30px;
        height: 30px;
        border-width: 0;
    }
}

/* end of preloading */